# General configuration
TZ=Europe/Zurich
CONTAINER_ENABLE_MONITORING=FALSE

# DB to backup
DB01_TYPE=
DB01_HOST=
DB01_NAME=
DB01_USER=
DB01_PASS=
DB01_PORT=
DB01_BACKUP_INTERVAL=1 # Interval between backups in minutes
DB01_BACKUP_BEGIN=0740 # Time to begin backup
DB01_CLEANUP_TIME=180  # Retention time in minutes
DB01_COMPRESSION=zstd  # Compression algorithm

# Backup location
DEFAULT_S3_PROTOCOL=https
DEFAULT_BACKUP_LOCATION=S3
DEFAULT_S3_BUCKET=backup-
DEFAULT_S3_KEY_ID=
DEFAULT_S3_KEY_SECRET=
DEFAULT_S3_PATH=
DEFAULT_S3_REGION=
DEFAULT_S3_HOST=